@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Just+Another+Hand&family=Orbitron:wght@400..900&family=Playwrite+CO+Guides&family=Press+Start+2P&display=swap");
body {
    font-family: "Orbitron", sans-serif;
    background-color: rgb(22, 49, 98);
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    position: absolute;
    top: 20px;
    left: 40px;

}
.home-button {
    background-color: rgb(33, 72, 145); /* Green */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.home-button:hover {
    background-color: black;
    transform: scale(1.05);
}

.home-button:active {
    background-color: #3e8e41;
    transform: scale(0.98);
}


#homeimg{
    background-color: transparent;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 0;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.links {
    margin-top: 20px;
    font-size: 14px;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}