@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Just+Another+Hand&family=Orbitron:wght@400..900&family=Playwrite+CO+Guides&family=Press+Start+2P&display=swap");
body {
  background-color: rgb(22, 49, 98);
}
* {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
}
#tit {
  text-align: left;
  color: white;
  font-size: 50px;
  margin: 30px;
}
#coincounter {
  float: right;
  text-align: center;
}
#numcoin {
  font-family: "Press Start 2P", system-ui;
  font-size: 25px;
  margin: 10px;
}
#tasklist {
  display: block;
  text-align: left;
  background-color: rgb(53, 53, 53);
  color: white;
  font-size: 20px;
  margin: 50px;
  border: 2px solid white;
  border-radius: 10px;
  position: fixed;
  padding: 10px;
  width: 300px;
  height: 70%;
}
#curr {
  display: block;
  position: relative;
  text-align: left;
  color: white;
  font-size: 20px;
  margin: 50px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  width: 65%;
  height: 600px;
  left: 400px;
  top: 10px;
}
#habname {
  font-size: 30px;
  color: white;
  margin: 10px;
}
#circle {
  height: 300px;
  width: 300px;
  background-color: rgb(53, 53, 53);
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
#start {
  text-align: center;
}
#star {
  font-size: 30px;
  margin-top: 130px;
}
